@model ASP.NETMVC.Models.ProductModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Thông tin sản phẩm";
}


<div class="card">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <p class="card-text">ID sản phẩm: @Model.ID</p>
        <p class="card-text">Giá sản phẩm: @Model.Price</p>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Product" class="card-link">Danh sách sản phẩm</a>
        <h5>@Url.ActionLink("Product_info")</h5>
        <h5>@Url.Action("Product_info")</h5>
    </div>
</div>